<component name="ArtifactManager">
  <artifact type="war" name="springsecurity_demo:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="springsecurity_demo.war">
      <element id="artifact" artifact-name="springsecurity_demo:war exploded" />
    </root>
  </artifact>
</component>